{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-markdown.min.css") }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-datetimepicker.min.css") }}" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai.min.css" />
{% endblock %}

{% block page_content %}

    <h1 class="page-header">
        Add Page
    </h1>

    <form role="form" id="page-form" method="POST" action="{{ url_for('pages_admin.add_page') }}">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    {{ form.title.label(class="control-label") }}
                    {{ form.title(class="form-control") }}
                    {% if form.title.errors %}
                        <ul class="errors">
                            {% for error in form.title.errors %}
                                <li class="small">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.slug.label(class="control-label") }}

                    {{ form.slug(class="form-control", style="display: none;") }}
                    <input type="text" class="form-control" data-bind="value: slug, enable: false" />

                    {% if form.slug.errors %}
                        <ul class="errors">
                            {% for error in form.slug.errors %}
                                <li class="small">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="control-label") }}
                    {{ form.content(class="form-control markdown", style="display: none;") }}
                    <div class="btn-toolbar">

                    </div>
                    <div id="editor_wrapper">
                        <div id="editor"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#preview-collapse">
                                <i class="fa fa-search"></i>Preview
                                <small>(click to show/hide)</small>
                            </a>
                            <button class="btn btn-primary btn-xs pull-right" data-bind="click: parse">
                                <i class="fa fa-refresh"></i> Refresh Preview
                            </button>
                        </div>
                    </div>
                    <div id="preview-collapse" class="collapse">
                        <div class="panel-body">
                            <div id="preview" data-bind="html: parsed"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form.published_on.label(class="control-label") }}
                    {{ form.published_on(class="form-control datetimepicker", **{ "size": "16" }) }}
                    {% if form.published_on.errors %}
                        <ul class="errors">
                            {% for error in form.published_on.errors %}
                                <li class="small">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.menu.label(class="control-label") }}
                    {{ form.menu(class="form-control") }}
                    {% if form.menu.errors %}
                        <ul class="errors">
                            {% for error in form.menu.errors %}
                                <li class="small">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="control-label">
                        {{ form.is_homepage() }} Is Homepage?
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 text-right">
                {{ form.csrf_token }}

                <a href="{{ url_for(".pages") }}" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Save</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/3rdparty/stmd.js") }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>

    {{ super() }}

    <script type="text/javascript" src="{{ url_for("static", filename="js/3rdparty/highlight.pack.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/3rdparty/datetimepicker/bootstrap-datetimepicker.min.js") }}"></script>
{% endblock %}
