{% extends "admin/base.html" %}

{% block title %}{{ super() }} - Pages{% endblock %}

{% block page_content %}

<div class="row page-header">
    <div class="col-md-8">
        <h1>Pages</h1>
    </div>
    <div class="col-md-3">
        <form role="form" id="search-form" method="GET" action="{{ url_for('pages_admin.pages_search') }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-1">
        <a href="{{ url_for('.add_page') }}" class="btn btn-primary pull-right">
            <i class="fa fa-plus"></i>Add
        </a>
    </div>
</div>

<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>Is Homepage?</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Published On</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages.items %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.is_homepage }}</td>
                <td>{{ page.user.username }}</td>
                <td>{{ page.created_on|datetime }}</td>
                <td>{{ page.published_on|datetime }}</td>
                <td>
                    <a href="{{ url_for('.edit_page', page_id=page.id) }}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>Edit
                    </a>
                    <a href="{{ url_for('.delete_page', page_id=page.id) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pager">
        <li class="next {{ 'disabled' if not pages.has_prev else '' }}">
            {% if pages.has_prev %}
                <a href="{{ url_for('.pages', page=pages.prev_num) }}">Next <span aria-hidden="true">&rarr;</span></a>
            {% else %}
                <a>Next <span aria-hidden="true">&rarr;</span></a>
            {% endif %}
        </li>
        <li class="previous {{ 'disabled' if not pages.has_next else '' }}">
            {% if pages.has_next %}
                <a href="{{ url_for('.pages', page=pages.next_num) }}"><span aria-hidden="true">&larr;</span> Previous</a>
            {% else %}
                <a><span aria-hidden="true">&larr;</span> Previous</a>
            {% endif %}
        </li>
    </ul>
</nav>

{% endblock %}
