{% extends "admin/base.html" %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block page_content %}

    <h1 class="page-header">CrowdControl Dashboard</h1>

    <ul>
        <li><strong>Env:</strong>{{ env }}</li>
    </ul>

{% endblock %}

