{% extends "bootstrap/base.html" %}

{% block title %}
{% if settings['site_name'] is defined %}
    {{ settings['site_name'] }}
{% else %}
    CrowdControl
{% endif %}
{% endblock %}

{% block head %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

{% block styles %}

<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css" rel="stylesheet" />

<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />

{% endblock styles %}

{% endblock %}

{% block navbar %}

    <!-- Header -->
    <header id="layout-header">

        <!-- Nav -->
        <nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        {% if settings['site_name'] is defined %}
                            {{ settings['site_name'] }}
                        {% else %}
                            CrowdControl
                        {% endif %}
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav pull-right">
                        {% if settings['blog_menu'] is defined %}
                            {% for item in menu.menu_items.all() %}
                                <li><a href="{{ item.slug }}">{{ item.name }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li><a href="/">Home</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% if current_user.has_role('Admin') %}
                                        <li><a href="{{ url_for('dashboard_admin.index') }}">Admin</a></li>
                                    {% endif %}
                                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>

{% endblock %}

{% block content %}
    <!-- Content -->
    <section id="layout-content">
        <div class="container">
            {% block page_content %}{% endblock %}
        </div>
    </section>

    <!-- Footer -->
    <hr />
    <footer id="layout-footer">
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="muted credit">&copy; Aaron Crowder.</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Who the F*** am I?</h3>
                        <div class="h-card">
                            <span class="p-name">{{ settings['h_card_name'] }}</span>
                            <img class="u-photo" src="{{ settings['h_card_photo_url'] }}" alt="{{ settings['h_card_name'] }}" />
                            <p class="p-note">
                                {{ settings['h_card_note'] }}
                            </p>
                            <h4>Me, Elsewhere</h3>
                            <ul>
                                {% if settings['twitter_url'] %}
                                    <li>
                                        <a href="{{ settings['twitter_url'] }}" rel="me" target="_blank">Twitter</a>
                                    </li>
                                {% endif %}
                                {% if settings['github_url'] %}
                                    <li>
                                        <a href="{{ settings['github_url'] }}" rel="me" target="_blank">Github</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
